# Virtual environment
venv/
# Data
data/raw/
data/processed/
# Jupyter notebooks checkpoints
.ipynb_checkpoints/
# Python compiled files
__pycache__/
*.pyc
# Virtual environments
venv/
venv_arima/
venv_tf/